<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Project: Pantry</title>
  <%= stylesheet_link_tag 'reset', 'grid', 'pantry' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <%= render( "shared/header" ) %>

  <%= yield %>
  
  <%= render( "shared/footer" ) %>
</body>
</html>